div.db-col {
  max-width: 116px;
}

button.select-db {
  width: 86px;
}

button.btn-action {
  width: 30px;
  height: 30px;
}
button.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
}

button.link-button:hover,
button.link-button:focus {
  text-decoration: none;
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

svg.spin {
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

button.mirror {
  transform: rotateY(180deg);
}
